

*{
    box-sizing: border-box;
  
}

body{
    background-color: teal;
    font-family: 'Bubblegum Sans', cursive;
}

header{
    grid-area: header;
    background-color: #E56B6F;
    text-align: center;
    display: flex;
    justify-content: space-between;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
   
   
}

header h2{
    padding-left: 10px;
}


header a{
    color: white;
    text-decoration: none;
}


ul {
    list-style: none;
    padding-top: 10px;
   
 
}

li{
    display: inline;
    padding: 15px;
  
    
   
}




.firstsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   color: white;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  border:1px solid red;
  background-image: url('../images/pinkyimage.jpg')
  

}


.description{

    display: flex;
    flex-direction: column;
   text-align: center;
   width: 400px;
}

.description p{
    line-height: 30px;
    font-size: 22px;
}


.secondsection h2{
    text-align: center;
    color: white;
}


.secondsection{
    display: flex;
    flex-direction: column;

   
}



.gallery{
display: grid;
    grid-gap: 1rem;
justify-items: center;
margin: auto;


    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    border: 1px solid red;
  
    

}

img{
    width: 300px;
}




#spacer{

    height: 60px;
}


@media(max-width:470px){


.firstsection{
   width: 100%;
}

.description{
    width: 90%;
}


.secondsection{
    width: 100%;
}

.gallery{
    
}

li{
    display: none;
}
}








   















