

*{
    box-sizing: border-box;
  
}

body{
    background-color: teal;
}

header{
    grid-area: header;
    background-color: red;
    text-align: center;
    display: flex;
    justify-content: space-between;
   
}


ul {
    list-style: none;
    padding-top: 10px;
   
 
}

li{
    display: inline;
    padding: 15px;
   
}




main{
    margin-top: 10px;
    grid-area: main;
    background-color: teal;
    display: grid;
    min-width: 95%;
    grid-template-rows: 40% 30% 30%;
    grid-template-columns:repeat(auto-fit,  minmax(280px,1fr));
    grid-gap: 10px;
  
}



main div{
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    text-align: center;
}

img{
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
}

aside{
    grid-area: aside;
    background-color: blue;
}




.container-wrapper{
    display: grid;
    max-width: 2560px;
    min-width: 95%;
    grid-template-rows: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;

    grid-template-areas: 
    "header header header"
    "main main main";
}


@media(max-width:600px){
 header{
     flex-direction: column;
 }

 ul{
     padding: 0px;
 }


 

.container-wrapper{
    grid-template-rows: 150px;
}



}

   















