

*{
    box-sizing: border-box;
  
}

header{
    grid-area: header;
    background-color: red;
    text-align: center;
    display: flex;
    justify-content: space-between;
   
}


ul {
    list-style: none;
    padding-top: 10px;
   
 
}

li{
    display: inline;
    padding: 15px;
   
}




main{
    grid-area: main;
    background-color: teal;
  
}



main div{
    background-color: greenyellow;
}

aside{
    grid-area: aside;
    background-color: blue;
}




.container-wrapper{
    display: grid;
    max-width: 2560px;
    min-width: 95%;
    grid-template-rows: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;

    grid-template-areas: 
    "header header header"
    "main main aside";
}


@media(max-width:585px){
 header{
     flex-direction: column;
 }

 ul{
     padding: 0px;
 }


.container-wrapper{
    grid-template-rows: 150px;
}



}

   















